@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --gray-theme: #1c1c1c;
    --red-theme: #cc2727;
    --orage-theme: #ff9800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-theme);
}

main {
    flex: 1;
    padding: 2rem 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.6s;
}

a:hover {
    transform: scale(1.05);
}

ul,
ol {
    list-style: none;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.spinner {
    height: 500px;
    display: grid;
    place-items: center;
}

.spinner svg {
    color: var(--red-theme);
    height: 150px;
    width: auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 0px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}
