.card {
    display: block;
    border-radius: 5px;
    color: #fff;
}

.card img {
    width: 220px;
    height: 320px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.cardImage {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}

.cardBody {
    padding: 0.5rem 0;
}

.cardTitle {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #fff;
}

.cardReleaseDate {
    font-size: 0.7rem;
}

.cardReleaseDate span {
    font-weight: 700;
}

@media (max-width: 576px) {
    .card {
        max-width: 220px;
    }
    .card img {
        
        width: 220px;
        height: auto;
        object-fit: cover;
    }
}
