.card {
    display: block;
    border-radius: 5px;
    color: #fff;
}

.card img {
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.cardBody {
    padding: 0.5rem 0;
}

.cardTitle {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #fff;
}

.cardReleaseDate {
    font-size: 0.7rem;
}

.cardReleaseDate span {
    font-weight: 700;
}

@media (max-width: 576px) {
    .cardTitle {
        font-size: .8rem;
    }
    .card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
