.sectionTitle {
    margin-bottom: 2rem;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    place-items: start;
    gap: 3rem;
}

.secaoCatalogo {
    margin-bottom: 3rem;
}

@media (max-width: 576px) {
    .cardContainer {
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    .carTitle {
        font-size: 1.2rem;
    }
}


